

h1{color:red}
nav p{color:purple;}
.desc {color: rgb(78, 129, 0);
width: 20%;}
#id1{color: aquamarine;}
h1{font-size: 30px}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');

.h1{font-family:'Times New Roman', Times, serif ;}
li{list-style-type: none;}
.link{text-decoration: none;}
h1{background-color: black;}
body{background-image:url(https://images.alphacoders.com/104/1048850.png)     ;}
iframe{width: 50%;}
.desc2{color: whitesmoke;}
.imagb{margin: 100px 121px 75px 115px}
form{background-color: rgb(110, 110, 110);}